html {
  background-color: #f8f8f8;
}

body {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  box-shadow: 4px 4px;
  background-color: #fff;
}

h1, h2 {
  font-family: sans-serif;
  font-weight: lighter;
  color: #333;
}
